@charset "utf-8";
/* CSS Document */
@import url("Grid_system.css");
@import url("bootstrap-4.4.1.css");
body
{
/*	background-color:#E1E1E1;*/
	color: #2F2E2E;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 16px;
	margin: 0
	
}
h1,h2,h3,h4,.menu
{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	display: block;
	color: #333
}

.menu ul
{
	margin: 0;
	padding: 0; 
	list-style: none
}
.menu ul li
{
	display: inline-block ;/* day cac list len canh nhau chung 1 hang*/
	position: relative/* cho dt con dung dien tich cua minh de dinh vi tri*/
}
.menu ul li a
{
	background-color:#FFCE00;
	background-image: linear-gradient(15deg,#FFCE00,#cccc00);
	padding: 8px 16px;
	color:black;display: block;
	text-decoration:none /*bo gach chan underline*/
}
.menu ul li a:hover{
	background-color: #FFE500
}
.menu ul ul
{
	position: absolute;
	left: 0; top: 100%;
	background-color:#FFCE00;
	width: 200px;
	display: none
}
.menu ul ul li
{
	display: flex;
	border-bottom: 1px solid #391919
	
}

.menu ul li:hover> ul
{
	display: block
}
.menu
{ 
	border-bottom: thin solid
}


h1
{
	background: #121FCF;
background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}










